@model IEnumerable<projektdotnet.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Produkter</h1>

<p>
    <a asp-action="Create">Skapa en ny produkt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Bild</th>
            <th>
                Namn
            </th>
            <th>
                Beskrivning
            </th>
            <th>
               Pris
            </th>
            <th>
                Kategori
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageName))
                {
                    <img src="~/images/@item.ImageName" alt="Product Image" style="width:50px; height:auto;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uppdatera</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
